/* Color Theme Swatches in Hex */
.color-theme_Tati_profundo-1-hex { color: #D9D3C7; }
.color-theme_Tati_profundo-2-hex { color: #A69E94; }
.color-theme_Tati_profundo-3-hex { color: #8C3027; }
.color-theme_Tati_profundo-4-hex { color: #260101; }
.color-theme_Tati_profundo-5-hex { color: #592727; }

/* Color Theme Swatches in RGBA */
.color-theme_Tati_profundo-1-rgba { color: rgba(217, 211, 199, 1); }
.color-theme_Tati_profundo-2-rgba { color: rgba(166, 158, 148, 1); }
.color-theme_Tati_profundo-3-rgba { color: rgba(140, 48, 39, 1); }
.color-theme_Tati_profundo-4-rgba { color: rgba(38, 1, 1, 1); }
.color-theme_Tati_profundo-5-rgba { color: rgba(89, 39, 39, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_Tati_profundo-1-hsla { color: hsla(39, 19, 81, 1); }
.color-theme_Tati_profundo-2-hsla { color: hsla(33, 9, 61, 1); }
.color-theme_Tati_profundo-3-hsla { color: hsla(5, 56, 35, 1); }
.color-theme_Tati_profundo-4-hsla { color: hsla(0, 94, 7, 1); }
.color-theme_Tati_profundo-5-hsla { color: hsla(0, 39, 25, 1); }
                    